html{
    font-family: Arial, Helvetica, sans-serif;
}

.navbackground{
    background-color: white;
    position: sticky;
    top: 0%;
}

.topnav{
    padding-top: 10px;
    height: 30px;
    max-width: 500px;
    margin: auto;
}

td, th{
    justify-content: left;
    vertical-align: top;
}

.haiku{
    padding-left: 3%;
}

.navitem{
    
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navitem:hover{
    background-color: grey;
}

.navitem:active{
    background-color: lightgray;
}

.centerall{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.portrait{
    float: right;
}

.animation{
    background-color: wheat;
}

.programming{
    background-color: tomato;
}

.classwork{
    background-color: teal;
}

.lunch{
    background-color: gray;
}

.work{
    background-color: green;
}

footer{
    position: sticky;
    bottom: 0%;
    background-color: white;
}